---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Hero from "../../components/Hero.svelte";
import BlogButton from "../../components/BlogCard.svelte";
import { getPosts } from "../../utils/post";
const posts = await getPosts();
---

<BaseLayout title="Blog">
  <Hero
    backgroundImage="url(/about-us-hero.webp)"
    standardTitleText="Build"
    gradientTitleText="Blog"
    descriptionText="Catch up on all of VPCI Robotic's latest news!"
  />
  <div class="grid grid-cols-2 gap-4 place-items-center p-8">
    {posts.map((post) => (
      <BlogButton
        title={post.data.title}
        author={post.data.team}
        description={post.data.description}
        sideImage={post.data.image.src}
        altText={post.data.image.alt}
        linkTo={post.slug}
      />
    ))}
  </div>
</BaseLayout>
