---
import type { CollectionEntry } from 'astro:content'
import BaseLayout from './BaseLayout.astro'
import { formatDate } from '../utils/post'
import { Image } from 'astro:assets'

type Props = {
	id: CollectionEntry<'blog'>['id']
	data: CollectionEntry<'blog'>['data']
	readTime: string
}

const { data, readTime, id } = Astro.props
const { title, description, publishDate, image, tags, team } = data

const articleDate = publishDate.toISOString()
---

<BaseLayout
	title={title}
	description={description}
	image={image?.src}
	articleDate={articleDate}
>
	<article class='min-w-full md:py-4 sm:max-w-none md:max-w-none'>
		<header class='mb-3 flex flex-col justify-center items-center gap-6'>
			<div class='flex flex-col gap-2'>
				<div class='flex items-center justify-center gap-x-1'>
					<p class='text-center text-sm text-opacity-50'>
						Team {team} - 
					</p>
					<p class='text-center text-sm text-opacity-50'>
						Published {formatDate(publishDate)}
					</p>
					<p class='text-center text-sm text-opacity-50 font-bold'>
						- {readTime}
					</p>
				</div>
				<h1 class='text-center text-4xl md:text-6xl md:pb-2.5 font-semibold'>
					{title}
				</h1>
			</div>

			<div class='flex flex-wrap justify-center items-center gap-2 gap-y-4 md:gap-5'>
				{tags.map((tag) => tag)}
			</div>
		</header>

		<figure class="">
			{
				image && (
					<Image
						src={image.src}
						width={1000}
						height={500}
						quality={100}
						format='jpg'
						loading='eager'
						class='rounded-md w-full max-h-[300px] md:max-h-[500px] my-8 object-cover'
						alt={`img of ${title}`}
					/>
				)
			}
		<figure/>

		<hr />

		<div>
			<slot />
		</div>
	</article>
</BaseLayout>
